doctype html
html
    head
        title Books

    body

        h1 Books List

        form(action="/books" method="POST")

            input(
                type="text"
                name="title"
                placeholder="Book Title"
                required
            )

            input(
                type="text"
                name="author"
                placeholder="Author"
                required
            )

            button(type="submit")
                | Add Book

        hr

        each book in books

            p
                | #{book.title} - #{book.author}

            form(
                action=`/books/delete/${book._id}`
                method="POST"
            )

                button(type="submit")
                    | Delete

        br

        a(href="/logout")
            | Logout